.container{
    height: 650px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.container-logo{
    text-align: center;
    margin-top: 10px;
}
.container-inside{
    width: 50%;
}
.container-text{
    text-align: center;
    margin-top: 0%;
}
.container-logos{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.container-text p{
    font-size: 18px;
    margin: 0px;
}
.container-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.wp-logo{
    height: 35px;
    width: 35px;
}
.circle{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    animation-name: circleColor;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    border: 4px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-inside{
    background-color: #21b90d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px black ;
}
@keyframes circleColor {
    0%{background-color: rgb(189, 183, 183);}
    50%{height: 25px;width: 25px;}
    100%{background-color: transparent;height: 15px;width: 15px;}
}
.btn{
    width: 90%;
    margin-top: 10px;
}
.btn-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.btn-animation{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.animationstatus{
    position: relative;
    right: 22px;
    top:2px;
}
.title{
    font-size: 25px;
}
.fab{
    font-size: 40px;
    margin: 5px;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}